In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv('shop data.csv')

In [5]:
dataset.head()

     age  income  gender m_status buys
0    <25    high    male   single   no
1    <25    high    male  married   no
2  25-35    high    male   single  yes
3    >35  medium    male   single  yes
4    >35     low  female   single  yes

# Ordinal Encoder

In [7]:
dataset['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [8]:
income_order = ['low','medium','high']

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
enco = OrdinalEncoder(categories=[income_order])

In [12]:
enco.fit(dataset[['income']])

OrdinalEncoder(categories=[['low', 'medium', 'high']])

In [16]:
final = pd.DataFrame(enco.transform(dataset[['income']]))
final.head()

     0
0  2.0
1  2.0
2  2.0
3  1.0
4  0.0

In [17]:
dataset['income'] = final

In [18]:
dataset.head()

     age  income  gender m_status buys
0    <25     2.0    male   single   no
1    <25     2.0    male  married   no
2  25-35     2.0    male   single  yes
3    >35     1.0    male   single  yes
4    >35     0.0  female   single  yes