# Encoding & Decoding

<h1 style=color:blue>Encoding part<h1>

In [30]:
import warnings #for ignoring warnings 
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
dataset = pd.read_csv('shop data.csv')

In [3]:
dataset

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no
15    <25    high  female  married  yes
16    >35  medium    male  married  yes
17    <25    high  female   single  yes
18  25-35  medium  female  married  yes
19  25-35    high    male   single  yes
20    >35  medium  female  married   no
21    <25     low    male   single  yes

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       22 non-null     object
 1   income    22 non-null     object
 2   gender    22 non-null     object
 3   m_status  22 non-null     object
 4   buys      22 non-null     object
dtypes: object(5)
memory usage: 1008.0+ bytes

In [13]:
dataset.isna().sum().sum() #check total numm value

0

In [4]:
feature = dataset.drop('buys', axis=1) # drop target column

In [5]:
feature

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single
15    <25    high  female  married
16    >35  medium    male  married
17    <25    high  female   single
18  25-35  medium  female  married
19  25-35    high    male   single
20    >35  medium  female  married
21    <25     low    male   single

In [6]:
target = dataset['buys']
target.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: buys, dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
LabEnc = LabelEncoder()
feature_Encode = feature.apply(LabEnc.fit_transform)

In [16]:
feature_Encode.head()

   age  income  gender  m_status
0    1       0       1         1
1    1       0       1         0
2    0       0       1         1
3    2       2       1         1
4    2       1       0         1

In [17]:
feature_Encode['buys']=target

In [18]:
feature_Encode.head(7)

   age  income  gender  m_status buys
0    1       0       1         1   no
1    1       0       1         0   no
2    0       0       1         1  yes
3    2       2       1         1  yes
4    2       1       0         1  yes
5    2       1       0         1   no
6    0       1       0         0  yes

In [19]:
target_Enc = LabEnc.fit_transform(dataset['buys'])
target_Enc

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1])

# <h1 style=color:orange>Decoding part<h1>

In [23]:
LabEnc.classes_  #Machine convert no - 0, yes - 1

array(['no', 'yes'], dtype=object)

In [24]:
LabEnc.inverse_transform(target_Enc)

array(['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes',
       'no', 'yes'], dtype=object)

**Example**

In [26]:
import numpy as np

In [34]:
a = np.array([1,0,1,1,0,0,1,0,1])  #create an array

In [35]:
df = pd.DataFrame(a,columns=['column1']) #array convert into DataFrame

In [36]:
df

   column1
0        1
1        0
2        1
3        1
4        0
5        0
6        1
7        0
8        1

In [37]:
LabEnc.inverse_transform(a)

array(['yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes'],
      dtype=object)